mat-grid-tile{
  border: 1px solid #eee;
}
.btn-remove-image{
  position: absolute;
  cursor: pointer;
  top: 2px;
  right: 2px;
  z-index: 100;
  background-color: darkred;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: auto;
  text-align: center;
}

.dropzone{
  height: 150px;
  width: 300px;
  min-width: 100px;
  border: dashed 1px #aaa;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  display: table;
  background-color: #eee;
}

.text-wrapper{
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
}
