<div class="container mt-5">
  <div class="card">

    <div class="row">
      <div class="col-6">
        <form #productForm="ngForm" (ngSubmit)="addProduct(productForm)" action="" method="post">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Product Name</mat-label>
          <input matInput
                 placeholder="ProductName"
                 [(ngModel)]="product.productName"
                 name="productName">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
<!--          <mat-hint>Hint</mat-hint>-->
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Product Description</mat-label>
          <input matInput
                 placeholder="Product Description"
                 [(ngModel)]="product.productDescription"
                 name="productDescription">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
<!--          <mat-hint>Hint</mat-hint>-->
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Product Price</mat-label>
          <input matInput
                 placeholder="Product Price"
                 [(ngModel)]="product.productActualPrice"
                  name="productActualPrice">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
<!--          <mat-hint>Hint</mat-hint>-->
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Product Price After Discount</mat-label>
          <input matInput
                 placeholder="Price After Discount"
                 [(ngModel)]="product.productDiscountedPrice"
                 name="productDiscountedPrice">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
<!--          <mat-hint>Hint</mat-hint>-->
        </mat-form-field>

        <div align="end">
          <button *ngIf="isNewProduct" type="submit" mat-raised-button color="accent">
            Add Product
          </button>
          <button  *ngIf="!isNewProduct" type="submit" mat-raised-button color="accent">
            Save
          </button>
          <button mat-raised-button color="accent">
            Cancel
          </button>
        </div>
        </form>



      </div>

      <div class="col-6 align-content-center" >
        <div>

          <div class="dropzone" appDrag (files)="fileDropped($event)">
            <div class="text-wrapper text-center">
              Drag and drop your file or
              <a (click)="selectFile.click()">browse</a>
            </div>
          </div>






          <input type="file"
                 style="display: none"
                 multiple
                 value="select"
                 #selectFile
                 (change)="onFileSelected($event)">
        </div>
        <div class="mt-5">
          <div class="row">
             <mat-grid-list cols="4" rowHeight="1:1">
               <mat-grid-tile *ngFor="let file of product.productImages; let i = index;">
                 <div style="position: relative">
                   <span class="btn-remove-image" (click)="removeImages(i)">X</span>
                   <img [src]="file.url" height="100px" width="100px">
                 </div>
               </mat-grid-tile>

             </mat-grid-list>
          </div>
        </div>




      </div>


    </div>

  </div>
</div>
