.image-container{
  height: 500px;
  max-height: 500px;
  position: relative;
}

.product-zoom-image{
  max-width: 90%;
  max-height: 90%;
  position: absolute;
  bottom: 0;
  top:0;
  left: 0;
  right: 0;
  margin: auto;
}
